@import url(page-content-display.css);
@import url(left-side-display.css);
@import url(right-side-display.css);
@import url(footer.css);

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgb(59, 59, 59);
}
body {
  background-color: #fff;
}

@media all and (max-width: 840px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .left-side {
    width: 23em;
    margin: 10px auto;
  }
  .right-side {
    width: 30em;
    margin: 10px auto;
  }
  .left-side-profile-hover {
    width: 23em;
  }
}

@media all and (max-width: 720px) {
  .right-side {
    width: 375px;
  }

  .profile-picture img {
    width: 375px;
  }
  .left-side {
    width: 375px;
  }
  .left-side-profile-hover {
    width: 375px;
  }
}

@media all and (max-width: 1200px) {
  .to-hover-over {
    right: -15px;
    width: 15vw;
  }
  .to-hover-over p {
    font-size: 0.8em;
  }
}

@media all and (max-width: 1100px) {
  .to-hover-over {
    width: 13vw;
    top: -20px;
    right: -35px;
  }
}

@media all and (max-width: 1000px) {
  .to-hover-over {
    display: none;
  }
}
