.footer {
  display: flex;
  flex-direction: column;
  background-color: #009688;
  height: 15vh;
}
.footer p,
.footer a,
.social-media-icons {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  margin: auto;
}

.social-media-icons #pinterest,
.social-media-icons #twitter {
  color: rgb(146, 145, 145);
}

.credits {
  text-align: center;
}
